<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Listado Clientes</title>
</head>
<body>
    <section th:fragment="listadoClientes" id="clientes">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h4>[[#{persona.titulo-lista}]]</h4>
                        </div>
                        <div th:if="${personaList != null and !personaList.empty}">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>#</th>
                                        <th th:text="#{persona.nombre}"></th>
                                        <th th:text="#{persona.saldo}"></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="it, i : ${personaList}">
                                        <td> [[${i.count}]]</td>
                                        <td> [[${it.nombre} + ' ' + ${it.apellido}]]</td>
                                        <td> [[${new java.text.DecimalFormat('$#,##0.00').format(it.saldo)}]]</td>
                                        <td >
                                            <a
                                                    th:href="@{/edit/}+${it.idPersona}"
                                                    sec:authorize="hasRole('ROLE_ADMIN')"
                                                    class="btn btn-secondary"
                                            >
                                                <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                            </a>
                                        </td>
                                        <td >
                                            <a
                                                    th:href="@{/delete/}+${it.idPersona}"
                                                    sec:authorize="hasRole('ROLE_ADMIN')"
                                                    class="btn btn-dark"
                                            >
                                                <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center p-2" th:if="${personaList == null or personaList.empty}">
                            <span th:text="#{persona.lista-vacia}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>