<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
<!--/*@thymesVar id="mensaje" type="java.lang.String"*/-->
<!--/*@thymesVar id="saludo" type="java.lang.String"*/-->
<!--/*@thymesVar id="personaList" type="java.util.ArrayList"*/-->

<h1>Inicio</h1>
<p th:text="${mensaje}"></p>
<p th:text="${saludo}"></p>
<br>
<div th:if="${personaList != null and !personaList.empty}">
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Telefono</th>
        </tr>

        <tr th:each="it : ${personaList}">
            <td th:text="${it.nombre}"></td>
            <td th:text="${it.apellido}"></td>
            <td th:text="${it.email}"></td>
            <td th:text="${it.telefono}"></td>
        </tr>

    </table>
</div>
<div th:if="${personaList == null or personaList.empty}">
    La lista esta vacia
</div>
<br>

</body>
</html>