<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<a th:href="@{/create}">[[#{persona.crear}]]</a>
<div th:if="${personaList != null and !personaList.empty}">
    <table border="1">
        <tr>
            <th>[[#{persona.nombre}]]</th>
            <th>[[#{persona.apellido}]]</th>
            <th>[[#{persona.email}]]</th>
            <th>[[#{persona.telefono}]]</th>
            <th>[[#{accion.editar}]]</th>
            <th>[[#{accion.eliminar}]]</th>
        </tr>

        <tr th:each="it : ${personaList}">
            <td th:text="${it.nombre}"></td>
            <td th:text="${it.apellido}"></td>
            <td th:text="${it.email}"></td>
            <td th:text="${it.telefono}"></td>
            <td><a th:href="@{/edit/}+${it.idPersona}">[[#{accion.editar}]]</a></td>
            <td><a th:href="@{/delete/}+${it.idPersona}">[[#{accion.eliminar}]]</a></td>
        </tr>

    </table>
</div>
<div th:if="${personaList == null or personaList.empty}">
    [[#{persona.lista-vacia}]]
</div>
<br>
<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>