<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
<h1>Inicio</h1>
<a th:href="@{/create}">Crear persona</a>
<div th:if="${personaList != null and !personaList.empty}">
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>

        <tr th:each="it : ${personaList}">
            <td th:text="${it.nombre}"></td>
            <td th:text="${it.apellido}"></td>
            <td th:text="${it.email}"></td>
            <td th:text="${it.telefono}"></td>
            <td><a th:href="@{/edit/}+${it.idPersona}" th:text="Editar"></a></td>
            <td><a th:href="@{/delete/}+${it.idPersona}" th:text="Eliminar"></a></td>
        </tr>

    </table>
</div>
<div th:if="${personaList == null or personaList.empty}">
    La lista esta vacia
</div>
<br>

</body>
</html>